@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

body {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 5em;
  padding-right: 5em;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: cornflowerblue;
  background-image: url('../img/space.jpg');
  text-align: center;
  position: relative;
}

img {
  border-width: 1px;
  border-radius: 60%;
}

img:hover {
  box-shadow: 0 0 5px 6px rgb(255, 255, 255);
}

.headline-row{
  background-color: rgb(32, 101, 204);
  color: black;
}
#headline {
  background-color: rgb(32, 101, 204);
  font-family: 'BhuTuka Expanded One', cursive;
  font-size: 36px;
  color: rgb(53, 10, 207);
  text-shadow: 2px 1px rgb(255, 255, 255);
}

table {
  line-height: 24px;
  margin: auto;

}

td {
  font-size: 20px;
  text-align: center;
  padding: 17px;

}

table,
td {
  border: rgb(57, 3, 68);
  border-style: solid;
  border-width: 4px;
  border-collapse: collapse;
  border-radius: 30%;
}